<p>train works!</p>


    <form [formGroup]="trainForm" (ngSubmit)="onSubmit(trainForm)">

    <!-- FOR FROMSTATION -->
    <!-- <mat-form-field class="full-width" appearance="outline">
      <mat-label>From Station</mat-label>
      <input formControlName="fromStation" matInput placeholder="Enter Here">
<mat-error *ngIf="trainForm && trainForm.invalid ">
Must not be empty
</mat-error>
    </mat-form-field>  -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>From Station</mat-label>
      <mat-select formControlName="fromStation" placeholder="Select From Station">
        <mat-option *ngFor="let station of fromStationsDropdown" [value]="station.value">
          {{ station.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="trainForm && trainForm.invalid ">
        Must not be empty
        </mat-error>
    </mat-form-field>


<!-- FOR TOSTATION        -->
    <!-- <mat-form-field class="full-width" appearance="outline">
      <mat-label>To Station</mat-label>
      <input formControlName="toStation" matInput placeholder="Enter Here">
<mat-error *ngIf="trainForm && trainForm.invalid ">
Must not be empty
</mat-error>
    </mat-form-field> -->

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>To Station</mat-label>
      <mat-select formControlName="toStation" placeholder="Select To Station">
        <mat-option *ngFor="let station of toStationsDropdown" [value]="station.value">
          {{ station.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="trainForm && trainForm.invalid ">
        Must not be empty
        </mat-error>
    </mat-form-field>
  
   
<!-- FOR DATE        -->
<mat-form-field class="full-width" appearance="outline">
  <mat-label>Date</mat-label>
  <input formControlName="travelDate" matInput placeholder="Enter Here" type="date">
<mat-error *ngIf="trainForm && trainForm.invalid ">
Must not be empty
</mat-error>
</mat-form-field>

    <button type="submit" class="btn btn-primary" [disabled]="trainForm.invalid">Search</button>
  </form>

<!-- 
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->



  <ul>
    <li *ngFor="let train of trainsForRoutes">
  <div class="card train-ticket-card " style="display: flex;">
    <div class="card-header">
      <h4 class="card-title"> {{train[1]}} </h4>
      <p class="card-subtitle text-muted"> {{train[2]}} </p>
    </div>
    <div class="card-body">
      <table>
        <tbody>
          <tr>
            <td class="train-ticket-card-label">Departure Station:</td>
            <td> {{train[8]}} </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Arrival Station:</td>
            <td> {{train[10]}} </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Departure Time:</td>
            <td>{{ train[3] }}</td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Arrival Time:</td>
            <td> {{train[5]}} </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Distance: </td>
            <td> {{train[6] - train[4] }}km</td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Available Chair Car:</td>
            <td> {{ train[11] | number: '1.0-0' }} </td>
            <td> {{ (train[6] - train[4]) * 1.1 | number: '1.0-0' }} INR </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Available Sleepers:</td>
            <td> {{train[12]}} </td>
            <td> {{ (train[6] - train[4]) * 1.25 | number: '1.0-0' }} INR </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Available ThirdAc:</td>
            <td> {{train[13]}} </td>
            <td> {{ (train[6] - train[4]) * 1.5 | number: '1.0-0' }} INR </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Available SecondAc:</td>
            <td> {{train[14]}} </td>
            <td> {{ (train[6] - train[4]) * 1.8  | number: '1.0-0' }} INR </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Available FirstAc:</td>
            <td> {{train[15]}} </td>
            <td> {{ (train[6] - train[4]) * 2.1 | number: '1.0-0' }} INR </td>
          </tr>
          <!-- <tr>
            <td class="train-ticket-card-label">Fare:</td>
            <td> {{(train[6] - train[4]) *1.25  }}INR</td>
          </tr> -->
        </tbody>
      </table>
      <div class="card-img-container">
        <img src=" ../../assets/trainTicketImage.png " alt="Train ticket image">
      </div>
    </div>  
    <div class="card-footer">
      <a  class="btn btn-primary" (click)="bookNow(train)">Book Now</a>
    </div>
  </div>
</li>
</ul>
  
  
  
