<p>train works!</p>

 <!-- <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fromStation">From Station</label>
      <input type="text" id="fromStation" name="fromStation" [(ngModel)]="fromStation" class="form-control" placeholder="Enter From Station">
    </div>
  
    <div class="form-group">
      <label for="toStation">To Station</label>
      <input type="text" id="toStation" name="toStation" [(ngModel)]="toStation" class="form-control" placeholder="Enter To Station">
    </div>

    <div class="form-group">
      <label for="toStation">No of Passengers</label>
      <input type="number" id="toStation" name="toStation" [(ngModel)]="noOfPassengers" class="form-control" placeholder="Number of Passengers ">
    </div>
  
    <div class="form-group">
      <label for="travelDate">Date</label>
      <input type="date" id="travelDate" name="travelDate" [(ngModel)]="travelDate" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Search</button>
  </form> -->


  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fromStation">From Station</label>
      <input type="text" id="fromStation" name="fromStation" [(ngModel)]="fromStation" class="form-control" placeholder="Enter From Station">
    </div>
  
    <div class="form-group">
      <label for="toStation">To Station</label>
      <input type="text" id="toStation" name="toStation" [(ngModel)]="toStation" class="form-control" placeholder="Enter To Station">
    </div>
  
    <div class="form-group">
      <label for="noOfPassengers">No of Passengers</label>
      <input type="number" id="noOfPassengers" name="noOfPassengers" [(ngModel)]="noOfPassengers" class="form-control" placeholder="Number of Passengers">
    </div>
  
    <div *ngIf="noOfPassengers > 1">
      <div class="form-group">
        <label for="passengerName">Passenger Name</label>
        <input type="text" id="passengerName" name="passengerName" [(ngModel)]="passengerName" class="form-control" placeholder="Enter Passenger Name">
      </div>
  
      <div class="form-group">
        <label for="passengerAge">Passenger Age</label>
        <input type="number" id="passengerAge" name="passengerAge" [(ngModel)]="passengerAge" class="form-control" placeholder="Enter Passenger Age">
      </div>
    </div>
  
    <div class="form-group">
      <label for="travelDate">Date</label>
      <input type="date" id="travelDate" name="travelDate" [(ngModel)]="travelDate" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Search</button>
  </form>



  <ul>
    <li *ngFor="let train of trainsForRoutes">
  <div class="card train-ticket-card " style="display: flex;">
    <div class="card-header">
      <h4 class="card-title"> {{train[1]}} </h4>
      <p class="card-subtitle text-muted"> {{train[2]}} </p>
    </div>
    <div class="card-body">
      <table>
        <tbody>
          <tr>
            <td class="train-ticket-card-label">Departure Station:</td>
            <td> {{train[8]}} </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Arrival Station:</td>
            <td> {{train[10]}} </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Departure Time:</td>
            <td>{{ train[3] }}</td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Arrival Time:</td>
            <td> {{train[5]}} </td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Duration:</td>
            <td> {{train[6] - train[4] }}km</td>
          </tr>
          <tr>
            <td class="train-ticket-card-label">Fare:</td>
            <td> {{(train[6] - train[4]) *1.25  }}INR</td>
          </tr>
        </tbody>
      </table>
      <div class="card-img-container">
        <img src=" ../../assets/trainTicketImage.png " alt="Train ticket image">
      </div>
    </div>  
    <div class="card-footer">
      <a  class="btn btn-primary" (click)="bookNow(train)">Book Now</a>
    </div>
  </div>
</li>
</ul>
  
  
  
