<p>train works!</p>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fromStation">From Station</label>
      <input type="text" id="fromStation" name="fromStation" [(ngModel)]="fromStation" class="form-control" placeholder="Enter From Station">
    </div>
  
    <div class="form-group">
      <label for="toStation">To Station</label>
      <input type="text" id="toStation" name="toStation" [(ngModel)]="toStation" class="form-control" placeholder="Enter To Station">
    </div>
  
    <div class="form-group">
      <label for="travelDate">Date</label>
      <input type="date" id="travelDate" name="travelDate" [(ngModel)]="travelDate" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <ul>
    <li *ngFor="let train of trainsForRoutes">
      <div class="train-item">
        <span class="train-name">{{ train.name }}</span>
        <button class="btn btn-primary" (click)="bookNow(train)">Book Now</button>
      </div>
    </li>
  </ul>





  <div class="train-details-container">
    <mat-card class="train-card">
      <mat-card-header>
        <mat-card-title> train.name </mat-card-title>
        <mat-card-subtitle> train.route </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <div class="train-info">
          <p><strong>Departure Time:</strong>  train.departureTime </p>
          <p><strong>Arrival Time:</strong>  train.arrivalTime </p>
          <p><strong>Available Seats:</strong>  train.availableSeats </p>
          <p><strong>Fare:</strong>  train.fare </p>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-button color="primary" >Book Ticket</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  
  
