<p>sidebar works!</p>

<mat-card>

    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/dashboard"><mat-icon mat-list-icon>home</mat-icon> Home</button>
        <button mat-list-item routerLink="/dashboard/profile"><mat-icon mat-list-icon>account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink="/dashboard/trainforroutes"><mat-icon mat-list-icon>local_offer</mat-icon> Book Ticket</button>
        <button mat-list-item routerLink="/dashboard/my-trips"><mat-icon>play_for_work</mat-icon> My Trips</button>
        <button mat-list-item routerLink="/dashboard/upcomming-trips"><mat-icon>timeline</mat-icon> UpComming Trips</button>
    </mat-action-list>
</mat-card>
