

<div class="bootstarp-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                
                <div class="container text-center">
                    <img src="../../assets/userlogo.png" alt="" srcset="">
                </div>

                <h1 class="text-center">Register Here</h1>

                <form [formGroup]="userForm" (ngSubmit)="formSubmit(userForm)">
                  <!-- FOR NAME -->
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Enter Here">
        <mat-error *ngIf="userForm && userForm.invalid ">
            Name should be at least 3 characters
        </mat-error>
                  </mat-form-field>
              <!-- FOR USERNAME -->
                  <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Username</mat-label>
                      <input formControlName="username" matInput placeholder="Enter Here">
        <mat-error *ngIf="userForm && userForm.invalid ">
            Username should be at least 5 characters
        </mat-error>
                    </mat-form-field> 
               <!-- FOR PHONE        -->
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Phone No.</mat-label>
                      <input formControlName="phone" matInput placeholder="Enter Here">
        <mat-error *ngIf="userForm && userForm.invalid ">
            Name should be of 10 characters
        </mat-error>
                    </mat-form-field>
              <!-- FOR EMAIL -->
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input formControlName="email" matInput placeholder="Enter Here">
        <mat-error *ngIf="userForm && userForm.invalid ">
            Email should of of specific format
        </mat-error>
                    </mat-form-field>
              <!-- FOR PASSWORD -->
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input formControlName="password" matInput placeholder="Enter Here">
        <mat-error *ngIf="userForm && userForm.invalid ">
            password should be of min 8 char
        </mat-error>
                    </mat-form-field>
                    <div class="container text-align">
                      <button mat-stroked-button color="primary" [disabled]="userForm.invalid">Register</button>
                      <button mat-stroked-button color="warm" style="margin-left: 20px;" color="warn" (click)="clearForm()">Clear</button>
                    </div>
              </form>
                
            </div>
        </div>
    </div>
</div>
