<p>list-of-trains works!</p>

<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Train Name</th>
                    <th>Number</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let train of listOfTrains; let i = index" 
                >
                    <td>{{ i+1 }}</td>
                    <td>{{ train[1] }}</td>
                    <td>{{ train[2] }}</td>
                    <td>{{ train[3] }}</td>
                    <td><button mat-stroked-button color="primary" routerLink="/admin-dashboard" (click)="sendTrain(train)">ShowDetails</button></td>
                    
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>